@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

html {
  margin: 0px;
}

body {
  background-color: #252827;
  margin: 0px;
}

/*----------------------------------------------------NAV BAR----------------------------------------------------- */

nav {
  background-color: #291211;
  height: 50%;
}

/*Grid Titre et Btn se connecter*/

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.title {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.BtnSeConnecter {
  grid-area: 1 / 3 / 2 / 4;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*TITLE*/

h1 {
  color: #f8cf2c;
  font-family: "Luxurious Script", cursive;
  font-size: 4em;
  font-weight: lighter;
}

/*BTN SeConnecter*/

.btnConnecter {
  width: 230px;
  height: 70px;
  border-radius: 30px;

  background-color: #f8cf2c;
  color: #252827;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 24px;
}

/* ------------Les Caroussels------------ */

/*Les images*/

img {
  width: 200px;
  height: 180px;
  border: 5px solid #f8cf2c;
}

/*CAROUSEL ENTRÉ*/
