@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

html {
  margin: 0px;
}

body {
  background-color: #252827;
  margin: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

/*----------------------------------------------------NAV BAR----------------------------------------------------- */

nav {
  background-color: #291211;
  height: 50%;

  border-color: #f8cf2c;
  border-style: solid;
  border-width: 0 0 2px 0;
}

/*Grid Titre et Btn se connecter*/

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.title {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.BtnSeConnecter {
  grid-area: 1 / 3 / 2 / 4;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*TITLE*/

h1 {
  color: #f8cf2c;
  font-family: "Luxurious Script", cursive;
  font-size: 5em;
  font-weight: lighter;
}
h1:hover {
  text-decoration: underline;
  text-underline-position: under;
}

/*BTN SeConnecter*/

.btnConnecter {
  width: 230px;
  height: 70px;
  border-radius: 30px;

  background-color: #f8cf2c;
  color: #252827;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 24px;
}

/* ------------Les Carrousels------------ */

/*Les Textes*/

span {
  position: relative;
  display: flex;
  width: 100%;
  color: #f8cf2c;
  font-family: "Luxurious Script", cursive;
  font-size: 3em;
}

span.nos {
  justify-content: flex-start;

  top: 4em;
  left: 5em;
}

span.title {
  justify-content: flex-end;

  bottom: 4.5em;
  right: 5em;
}

/*Les images*/

img {
  width: 250px;
  height: 180px;
  border: 5px solid #f8cf2c;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: space-around;
  margin: 1.5em 0;
  background-color: #291211;

  border-style: solid;
  border-color: #f8cf2c;
  border-width: 2px 0;
}

.slider {
  padding: 15px 0;
  margin: 2em 0;
  overflow: hidden;
  position: relative;
  width: 1000px;
  border-style: solid;
  border-color: #f8cf2c;
  border-width: 0 5px;
}

.slider .slide-track {
  animation: scroll 25s linear infinite;
  display: flex;
  width: calc(200px * 10);
  justify-content: space-around;
  flex-direction: row;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  height: 250px;
  width: 250px; /*
  padding: 0 10px; */
  transition: 0.15s;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}

.imgHover {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 230px;
  height: 260px;
}

.HoverBox {
  width: 220px;
  height: 250px;
  position: absolute;
  color: transparent;
  background-color: none;
  transition: 0.15s;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.HoverBox:hover {
  width: 220px;
  height: 250px;
  position: absolute;
  color: #f8cf2c;
  background-color: #28252790;
  transition: 0.15s;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
/* barres de séparations */
.br {
  width: 100%;
  height: 1.5em;
  background-color: #282527;
  color: #282527;

  border-style: solid;
  border-color: #f8cf2c;
  border-width: 2px 0;
}

/*--------------------------------LES BOUTTONS-----------------------------------*/
.BtnContainer {
  display: flex;
  justify-content: space-around;
}

.Btn {
  width: 230px;
  height: 70px;
  border-radius: 30px;

  background-color: #f8cf2c;
  color: #252827;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 20px;
}
/*-------------------------------LE FOOTER--------------------------------*/
.containerHoraire {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  background-color: #291211;
  padding: 1em;
  color: #f8cf2c;
  margin: 2em 0 0 0;
  border-style: solid;
  border-color: #f8cf2c;
  border-width: 2px 0 0 0;

  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 20px;

  text-align: center;
}

#lundi {
  grid-area: 1 / 1 / 2 / 2;
}
#mardi {
  grid-area: 1 / 2 / 2 / 3;
}
#mercredi {
  grid-area: 1 / 3 / 2 / 4;
}
#jeudi {
  grid-area: 1 / 4 / 2 / 5;
}
#vendredi {
  grid-area: 1 / 5 / 2 / 6;
}
#samedi {
  grid-area: 1 / 6 / 2 / 7;
}
#dimanche {
  grid-area: 1 / 7 / 2 / 8;
}
