@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap");

html,
body {
  margin: 0px;
}

body {
  background-color: #252827;
  overflow-y: auto;
  overflow-x: hidden;
}

/*----------------------------------------------------NAV BAR----------------------------------------------------- */
@media screen and (max-width: 1500px) {
  h1 {
    font-size: 4em !important;
    text-align: center !important;
  }
  .btnConnecter,
  .Btn {
    width: 180px !important;
    height: 50px !important;
    border-radius: 30px !important;

    font-size: 15px !important;
  }
}
@media screen and (max-width: 810px) {
  h1 {
    font-size: 2.5em !important;
    text-align: center !important;
  }
  .btnConnecter,
  .Btn {
    width: 100px !important;
    height: 25px !important;
    border-radius: 30px !important;

    font-size: 10px !important;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.5em !important;
    text-align: center !important;
  }
  .title {
    width: 200px !important;
  }
  .btnConnecter,
  .Btn {
    width: 80px !important;
    height: 25px !important;
    border-radius: 30px !important;

    font-size: 8px !important;
  }
}
@media (prefers-color-scheme: dark) {
  .btnConnecter,
  .Btn {
    color: #282527 !important;
  }
}
nav {
  background-color: #291211;
  height: 50%;

  border-color: #f8cf2c;
  border-style: solid;
  border-width: 0 0 2px 0;
}

/*Grid Titre et Btn se connecter*/

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 10em;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.title {
  grid-area: 1 / 3 / 2 / 6;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.BtnSeConnecter {
  grid-area: 1 / 7 / 2 / 8;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*TITLE*/

h1 {
  color: #f8cf2c;
  font-family: "Luxurious Script", cursive;
  font-size: 8em;
  font-weight: lighter;
  display: inline;
}
h1:hover {
  text-decoration: underline;
}

h1 a {
  color: #f8cf2c;
  text-decoration: none;
}

/*BTN SeConnecter*/

.btnConnecter {
  width: 230px;
  height: 70px;
  border-radius: 30px;

  background-color: #f8cf2c;
  color: #252827;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 24px;
}

/*ButtonHref*/

a {
  text-decoration: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~PAGE ACCUEIL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*---------------Version Mobile------------------------*/
@media screen and (max-width: 1500px) {
  span {
    font-size: 3em !important;
  }
  .slider {
    width: 550px !important;
  }
  .br {
    color: #282527 !important;
  }
}
@media screen and (max-width: 810px) {
  span {
    font-size: 2em !important;
  }
  .slider {
    width: 350px !important;
    height: 300px !important;
    margin: 0em 0 !important;
    padding: 0em 0 !important;
  }
  img {
    width: 200px !important;
    height: 200px !important;
  }
  .HoverBox:hover {
    width: 200px !important;
    height: 200px !important;
  }
  .br {
    color: #282527 !important;
  }
}
@media screen and (max-width: 500px) {
  span {
    font-size: 1.75em !important;
  }
  img {
    position: absolute !important;
    top: 1em !important;
    width: 150px !important;
    height: 150px !important;
  }
  .slider {
    width: 200px !important;
    height: 200px !important;
  }
  .HoverBox:hover {
    position: absolute !important;
    top: 1.3em !important;
    width: 150px !important;
    height: 150px !important;
  }
  .br {
    color: #282527 !important;
  }
}

/* ------------Les Carrousels------------ */

/*Les Textes*/

span {
  display: flex;
  width: auto;
  color: #f8cf2c;
  font-family: "Luxurious Script", cursive;
  font-size: 5em;
}

/*Les images*/

img {
  width: 250px;
  height: 180px;
  border: 5px solid #f8cf2c;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: space-around;
  margin: 1.5em 0;
  background-color: #291211;

  border-style: solid;
  border-color: #f8cf2c;
  border-width: 2px 0;
}

.slider {
  padding: 15px 0;
  margin: 2em 0;
  overflow: hidden;
  position: relative;
  width: 1000px;
  border-style: solid;
  border-color: #f8cf2c;
  border-width: 0 5px;
}

.slider .slide-track {
  animation: scroll 25s linear infinite;
  display: flex;
  width: calc(200px * 10);
  justify-content: space-around;
  flex-direction: row;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  height: 250px;
  width: 250px; /*
  padding: 0 10px; */
  transition: 0.15s;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}

.imgHover {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 230px;
  height: 260px;
}

.HoverBox {
  width: 220px;
  height: 250px;
  position: absolute;
  color: transparent;
  background-color: none;
  transition: 0.15s;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.HoverBox:hover {
  width: 220px;
  height: 250px;
  position: absolute;
  color: #f8cf2c;
  background-color: #28252790;
  transition: 0.15s;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
/* barres de séparations */
.br {
  width: 100%;
  height: 1.5em;
  background-color: #282527;
  color: #282527;

  border-style: solid;
  border-color: #f8cf2c;
  border-width: 2px 0;
}

/*--------------------------------LES BOUTTONS-----------------------------------*/
.BtnContainer {
  display: flex;
  justify-content: space-around;
}

.Btn {
  width: 230px;
  height: 70px;
  border-radius: 30px;

  background-color: #f8cf2c;
  color: #252827;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 20px;
}
.Btn:hover,
.btnConnecter:hover {
  box-shadow: inset -2px -2px 3px #29121179, inset 2px 2px 3px #291211;
}
.Btn:active,
.btnConnecter:active {
  box-shadow: inset -2px -2px 3px #29121179, inset 2px 2px 3px #291211;

  box-shadow: inset -2px -2px 3px #fffee66b, inset 2px 2px 3px #291211;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~PAGE CARTE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*--------------VERSION MOBILE-----------------*/
@media screen and (max-width: 1250px) {
  #TitleG {
    font-size: 25px !important;
  }
  #TitleP {
    font-size: 25px !important;
  }
  #TitleD {
    font-size: 25px !important;
  }
  #PlatD {
    margin-left: 30% !important;
  }
}
@media screen and (max-width: 810px) {
  #TitleG {
    font-size: 25px !important;
  }
  #TitleP {
    font-size: 25px !important;
  }
  #TitleD {
    font-size: 25px !important;
  }
  ul {
    font-size: 18px !important;
  }
  #PlatD {
    margin-left: 30% !important;
  }
}
@media screen and (max-width: 780px) {
  .Textmobile {
    display: block !important;
  }
  #Gauche {
    display: none !important;
  }
  .Fond {
    display: none !important;
  }
  #Droite {
    display: none !important;
  }
  /*Carte MOBILE*/
  .MGauche {
    background-color: aqua;
    width: 49%;
    height: 910px;

    border-right: 2.5px solid #f8cf2c;
    position: relative;
    right: -48%;
    display: flex;
    background-color: transparent;
    transform-style: preserve-3d;
    transform-origin: 0;

    animation: ouverture 8s;
    animation-fill-mode: forwards;
  }
  .TextCarte,
  #TextMenu {
    color: #f8cf2c;
  }
  #MavantG {
    z-index: 1;
    background-color: #291211;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  #MinteG {
    background-color: #f8cf2c;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    backface-visibility: visible;
    padding: 0;
  }

  .MDroite {
    background-color: #f8cf2c;
    width: 48%;
    height: 910px;
  }

  .Textmobile {
    color: #282527;
  }

  .MTitleG,
  .MTitleD {
    display: flex;
    justify-content: flex-end;

    margin: 1em 1.5em;
    font-size: 1.5em;
  }
  .MTitleG {
    display: flex;
    justify-content: flex-end;
  }
  .MTitleD {
    display: flex;
    justify-content: flex-start;
  }

  .Mplat {
    font-size: 1em !important;
  }

  #TextMenu {
    display: flex !important;
    justify-content: center;

    margin-top: 3em;

    font-family: "Lora", sans-serif;
    font-size: 40px;
    font-weight: bold;
  }
  .TextCarte {
    display: flex;
    justify-content: space-evenly;

    font-family: luxurious script;
    font-size: 5em;
  }
}
@media screen and (max-width: 300px) {
  .TextCarte {
    display: flex;
    justify-content: space-evenly;

    font-family: luxurious script;
    font-size: 3em;
  }
}

.carte {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 5em 0;
}
@keyframes ouverture {
  0% {
  }
  100% {
    transform: rotateY(180deg);
  }
}

/*MasqueVersionMobile*/
.Textmobile {
  display: none;
}

/*-----------CARTE GAUCHE------------------*/
#Gauche {
  border-right: 2.5px solid #f8cf2c;

  position: relative;
  right: -20%;

  display: flex;
  height: 600px;
  width: 20%;
  background-color: transparent;
  transform-style: preserve-3d;
  transform-origin: 0;

  animation: ouverture 8s;
  animation-fill-mode: forwards;
}
#avantG {
  z-index: 1;
  background-color: #291211;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#inteG {
  background-color: #f8cf2c;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: visible;
}

/*------------------FOND------------------------*/
.Fond {
  height: 600px;
  width: 40%;
  background-color: #f8cf2c;

  border-color: #291211;
  border-style: solid;
  border: 0 8px;
}

/*------------CARTE DROITE--------------------*/
#Droite {
  border-left: 2.5px solid #f8cf2c;

  position: relative;
  right: 20%;

  display: flex;
  height: 600px;
  width: 20%;
  background-color: transparent;

  transform-style: preserve-3d;
  transform-origin: 100%;

  animation: ouverture 8s;
  animation-fill-mode: forwards;
}

#avantD {
  z-index: 1;
  background-color: #291211;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#inteD {
  background-color: #f8cf2c;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: visible;
}

/*Le texte sur la carte*/

#Textme {
  display: flex;
  justify-content: flex-end;

  font-family: "Lora", serif;
  font-size: 75px;
  font-weight: bold;

  margin-right: 0.1em;
  color: #f8cf2c;
}
#Textnu {
  display: flex;
  justify-content: flex-start;

  font-family: "Lora", serif;
  font-size: 75px;
  font-weight: bold;

  margin-left: 0.1em;
  color: #f8cf2c;
}

.textCarte {
  color: #f8cf2c;
  font-family: luxurious script;
  font-size: 150px;
  display: flex;
  justify-content: center;

  position: relative;
  right: 5%;
  top: -15%;
}

/*Le texte dans la carte*/
ul {
  margin: 0;
  margin-block: 0;
  padding-inline: 0.5em;

  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: bold;
}
li {
  list-style-type: none;
  margin: 1em 0;
}

.liPanneau {
  margin-top: 3.5em;
}

#TitleD,
#TitleG,
#TitleP {
  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: "Lora", serif;
  font-size: 40px;
  font-weight: bold;
}

.TextPlats {
  display: flex;
  flex-direction: row;
}

#PlatD {
  border-left: 5px solid #291211;
  margin-left: 37.5%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~PAGE CONNECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media screen and (max-width: 1500px) {
  .iptForm {
    font-size: 1.5em !important;
  }
}
@media screen and (max-width: 1010px) {
  .iptForm {
    font-size: 1em !important;
  }
  .Formulaire {
    border-radius: 30px !important;
  }
  #Client {
    font-size: 1em !important;
  }
}
@media screen and (max-width: 700px) {
  .iptForm {
    font-size: 0.7em !important;
  }
  .Formulaire {
    border-radius: 20px !important;
  }
  #Client {
    font-size: 0.7em !important;
  }
}
@media screen and (max-width: 450px) {
  .iptForm {
    font-size: 0.3em !important;
  }
  .Formulaire {
    padding: 0.5em !important;
  }
  #BtnConnection {
    font-size: 0.5em !important;
  }
  #Client {
    font-size: 0.5em !important;
  }
}
.FondConnection {
  width: 90%;
  margin: 2em auto;
  min-height: 100%;

  background-color: #291211;
  border: solid 5px #f8cf2c;
  border-radius: 50px;
}
/*-------------------------------FORMULAIRE----------------------------------------------------------*/
.Formulaire {
  height: 75%;
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 2em 30% 2em;

  background-color: #282527;
  border: solid 2px #000;
  border-radius: 50px;
}

.iptForm {
  border-radius: 50px;
  height: 2em;

  background-color: #fffee6;
  color: #282527;
  font-weight: bold;
  font-size: 2em;

  padding-left: 1em;
  margin: 1.15em 0;
  border: 1px solid #282527;
  font-family: "Hind Madurai", sans-serif;
}

button#BtnConnection {
  width: auto;

  background-color: #f8cf2c;
  color: #282527;

  font-size: 2em;
  font-weight: bold;
  font-family: "Hind Madurai", sans-serif;

  padding: 0.5em 1em;
  margin: 1.5em 0;

  border: 1px solid #282527;
  border-radius: 50px;
}
/*----------------------------------BTN S'INSCRIRE---------------------------------------------------------*/

p#Client {
  color: #fffee6;
  font-family: "Lora", sans-serif;
  font-size: 1.5em;
}

#form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.BtnInscription {
  background-color: #f8cf2c;
  color: #282527;
  font-family: "Hind Madurai", sans-serif;
  font-size: 2em;
  border: 1px solid #282527;
  border-radius: 50px;
  padding: 0.5em 1.5em;
  margin: 0 0 2em;
}
#RefInscription {
  text-decoration: none;
  color: #282527;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~PAGE RESERVATION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media screen and (min-width: 1500px) {
  .InputReservation {
    padding: 1.5em 45% !important;
  }
}
@media screen and (max-width: 1500px) {
  .TextHoraire {
    padding-left: 3em !important;
  }
  .LabelToInputs {
    font-size: 0.8em !important;
  }
}
@media screen and (max-width: 450px) {
  #BtnAllergies {
    font-size: 12px !important;
  }
  .InputReservation {
    padding: 2em !important;
  }
  #inputs {
    align-items: center !important;
  }
}

.FondReservation {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;
  margin: 2em auto;
  min-height: 100%;

  background-color: #291211;
  border: solid 5px #f8cf2c;
  border-radius: 50px;
}

.FormReservation {
  height: 75%;
  width: 50%;

  font-family: "Hind Madurai", sans-serif;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 2em 30% 2em;
  padding: 2em;

  background-color: #282527;
  border: solid 2px #000;
  border-radius: 50px;
}

.preambule {
  margin: 1em 0 0;
}

.phrases {
  color: #fffee6;
  margin: 0;
}

#inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;

  width: 80%;

  margin: 1em 0;
}

.LabelToInputs {
  display: flex;
  justify-content: center;
  align-content: center;

  color: #fffee6;
  font-family: Lora, sans-serif;
}

.InputReservation:hover,
#BtnAllergies:hover {
  background-color: #f8cf2c;
}

.InputReservation {
  background-color: #fffee6;
  font-family: "Hind Madurai", sans-serif;
  border: 5px solid #291211;
  color: #282527;
  padding: 1em;
}

#BtnAllergies {
  border: 5px solid #291211;
  border-radius: 50px;
  background-color: #fffee6;
  padding: 1em 1.5em;
  margin: 1em 0;
  font-family: "Hind Madurai", sans-serif;
}

.TextHoraire {
  color: #f8cf2c;
  font-family: "Hind Madurai", sans-serif;
}

.HoraireMidi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.HoraireSoir {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 1em;
}
.ContainerHoraire {
  border: 5px solid #291211;
  background-color: #fffee6;

  width: 5em;

  padding: 0.5em 0;
  margin: 0 1em;
  font-family: "Hind Madurai", sans-serif;
}

.ContainerHoraire:hover {
  background-color: #f8cf2c;
}

#BtnReservation {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  background-color: #f8cf2c;
  width: 50%;

  border: 1px solid #282527;
  border-radius: 50px;

  font-family: "Hind Madurai", sans-serif;
  font-size: 25px;

  margin: 1em 0;
  padding: 0.5em 1em;
}

/*-------------------------------LE FOOTER--------------------------------*/
@media screen and (max-width: 1500px) {
  #footer {
    position: relative !important;
    bottom: 0 !important;
  }
  .containerHoraire {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 810px) {
  .containerHoraire {
    font-size: 11px !important;
  }
}
@media screen and (max-width: 500px) {
  .containerHoraire {
    font-size: 8px !important;
  }
}

#footerCarte {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

footer#footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.containerHoraire {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  background-color: #291211;
  padding: 1em;
  color: #f8cf2c;
  margin: 2em 0 0 0;
  border-style: solid;
  border-color: #f8cf2c;
  border-width: 2px 0 0 0;

  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 20px;

  text-align: center;
}

#lundi {
  grid-area: 1 / 1 / 2 / 2;
}
#mardi {
  grid-area: 1 / 2 / 2 / 3;
}
#mercredi {
  grid-area: 1 / 3 / 2 / 4;
}
#jeudi {
  grid-area: 1 / 4 / 2 / 5;
}
#vendredi {
  grid-area: 1 / 5 / 2 / 6;
}
#samedi {
  grid-area: 1 / 6 / 2 / 7;
}
#dimanche {
  grid-area: 1 / 7 / 2 / 8;
}
